{% extends 'base_layout.html' %}

{% block mainpanel %}

<script>
$(function() {
  
  // Get the form fields and hidden div
  var checkbox = $("#amp");
  var hidden = $("#hidden_fields");
  var populate = $("#populate");
  
  // Hide the fields.
  // Use JS to do this in case the user doesn't have JS 
  // enabled.
  hidden.hide();
  
  // Setup an event listener for when the state of the 
  // checkbox changes.
  checkbox.change(function() {
    // Check to see if the checkbox is checked.
    // If it is, show the fields and populate the input.
    // If not, hide the fields.
    if (checkbox.is(':checked')) {
      // Show the hidden fields.
      hidden.show();
      // Populate the input.
      populate.val("Dude, this input got populated!");
    } else {
      // Make sure that the hidden fields are indeed
      // hidden.
      hidden.hide();
      
      // You may also want to clear the value of the 
      // hidden fields here. Just in case somebody 
      // shows the fields, enters data to them and then 
      // unticks the checkbox.
      //
      // This would do the job:
      //
      // $("#hidden_field").val("");
    }
  });
});
</script>

<br>

<div class="col-md-6">
      <div class="ui-steps ui-steps--vertical">
            <div class="ui-step active">
                <div class="step__icon">0</div>
                <div class="step__label">Configure Services and Settings</div>
            </div>
      </div>
</div>

<hr>

For each service you have, enable the service first and then provide the necessary credentials.

<br /> <br />

<div class="row no-gutters">
    <div class="panel panel--indigo panel--loose">
        <span class="text-uppercase">Threat Identification</span>
    </div>
</div>

<br />

<div class="form-group form-group--loose">
      <div>Advanced Malware Protection (AMP)</div>
        <label class="switch switch--small">
            <input type="checkbox" id="amp" onclick="function()" checked>
            <span class="switch__input"></span>
            <span class="switch__label">Enabled</span>
        </label>
</div>

<p id="text" style="display:none">
  
      <div class="col-md-3">
        <div class="form-group">
            <div class="form-group__text">
                <input id="amp_host" type="text" value="{{config['amp4e']['hostname']}}">
                <label for="amp_host">AMP Host</label>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <div class="form-group__text">
                <input id="amp_client_id" type="text" value="{{config['amp4e']['client_id']}}">
                <label for="amp_client_id">AMP Client ID</label>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <div class="form-group__text">
                <input id="amp_api_key" type="text" value="{{config['amp4e']['api_key']}}">
                <label for="amp_api_key">AMP API Key</label>
            </div>
        </div>
    </div>
</p>

<div class="form-group form-group--loose">
      <div>Cognitive Intelligence</div>
        <label class="switch switch--small">
            <input type="checkbox" checked>
            <span class="switch__input"></span>
            <span class="switch__label">Enabled</span>
        </label>
</div>

    <div class="col-md-3">
        <div class="form-group">
            <div class="form-group__text">
                <input id="cognitive_service" type="text" value="{{config['cognitive']['service']}}">
                <label for="cognitive_service">Cognitive TAXII Service</label>
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
            <div class="form-group__text">
                <input id="cognitive_username" type="text" value="{{config['cognitive']['user']}}">
                <label for="cognitive_username">Cognitive Username</label>
            </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
            <div class="form-group__text">    
                <input id="cognitive_password" type="password" value="{{config['cognitive']['password']}}">
                <label for="cognitive_password">Cognitive Password</label>
            </div>
        </div>    
      </div>    
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <div class="form-group__text">
                <input id="cognitive_threat_feed" type="text" value="{{config['cognitive']['feed']}}">
                <label for="cognitive_threat_feed">Cognitive Threat Feed</label>
            </div>
        </div>
    </div>

<br />

<div class="row no-gutters">
    <div class="panel panel--indigo panel--loose">
        <span class="text-uppercase">Research</span>
    </div>
</div>

<br />

<div class="form-group form-group--loose">
      <div>Investigate</div>
        <label class="switch switch--small">
            <input type="checkbox" checked>
            <span class="switch__input"></span>
            <span class="switch__label">Enabled</span>
        </label>
</div>

    <div class="col-md-3">
        <div class="form-group">
            <div class="form-group__text">
                <input id="investigate_host" type="text" value="{{config['investigate']['hostname']}}">
                <label for="investigate_host">Investigate Host</label>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <div class="form-group__text">
                <input id="investigate_token" type="text" value="{{config['investigate']['key']}}">
                <label for="investigate_token">Investigate Token</label>
            </div>
        </div>
    </div>

<div class="form-group form-group--loose">
      <div>Threat Grid</div>
        <label class="switch switch--small">
            <input type="checkbox" checked>
            <span class="switch__input"></span>
            <span class="switch__label">Enabled</span>
        </label>
</div>

    <div class="col-md-3">
        <div class="form-group">
            <div class="form-group__text">
                <input id="threat_grid_host" type="text" value="{{config['threatgrid']['hostname']}}">
                <label for="threat_grid_host">Threat Grid Host</label>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <div class="form-group__text">
                <input id="threat_grid_key" type="text" value="{{config['threatgrid']['key']}}">
                <label for="threat_grid_key">Threat Grid Key</label>
            </div>
        </div>
    </div>

<br /> <br />

<div class="row no-gutters">
    <div class="panel panel--indigo panel--loose">
        <span class="text-uppercase">Response</span>
    </div>
</div>

<br />
<div class="form-group form-group--loose">
      <div>ISE</div>
        <label class="switch switch--small">
            <input type="checkbox" checked>
            <span class="switch__input"></span>
            <span class="switch__label">Enabled</span>
        </label>
</div>

    <div class="col-md-3">
        <div class="form-group">
            <div class="form-group__text">
                <input id="ise_host" type="text" value="{{config['ise']['hostname']}}">
                <label for="ise_host">ISE Host</label>
            </div>
        </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
            <div class="form-group__text">
                <input id="ise_username" type="text" value="{{config['ise']['user']}}">
                <label for="ise_username">ISE Username</label>
            </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
            <div class="form-group__text">    
                <input id="ise_password" type="password" value="{{config['ise']['password']}}">
                <label for="ise_password">ISE Password</label>
            </div>
        </div>    
      </div>    
    </div>

<div class="form-group form-group--loose">
      <div>Umbrella</div>
        <label class="switch switch--small">
            <input type="checkbox" checked>
            <span class="switch__input"></span>
            <span class="switch__label">Enabled</span>
        </label>
</div>

    <div class="col-md-3">
        <div class="form-group">
            <div class="form-group__text">
                <input id="umbrella_host" type="text" value="{{config['umbrella']['hostname']}}">
                <label for="umbrella_host">Umbrella Host</label>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <div class="form-group__text">
                <input id="umbrella_key" type="text" value="{{config['umbrella']['key']}}">
                <label for="umbrella_key">Umbrella Key</label>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <div class="form-group__text">
                <input id="umbrella_secret" type="text" value="{{config['umbrella']['secret']}}">
                <label for="umbrella_secret">Umbrella Secret</label>
            </div>
        </div>
    </div>

<div class="form-group form-group--loose">
      <div>Firepower</div>
        <label class="switch switch--small">
            <input type="checkbox" checked>
            <span class="switch__input"></span>
            <span class="switch__label">Enabled</span>
        </label>
</div>

{% endblock %}

<!-- disable footer for this page  -->
{% block footer %}{% endblock %}
