{% extends 'base_layout.html' %}

{% block mainpanel %}

<script>
$(function() {
  
  // Get the form fields and hidden div
  var checkbox = $("#amp");
  var hidden = $("#hidden_fields");
  var populate = $("#populate");
  
  // Hide the fields.
  // Use JS to do this in case the user doesn't have JS 
  // enabled.
  hidden.hide();
  
  // Setup an event listener for when the state of the 
  // checkbox changes.
  checkbox.change(function() {
    // Check to see if the checkbox is checked.
    // If it is, show the fields and populate the input.
    // If not, hide the fields.
    if (checkbox.is(':checked')) {
      // Show the hidden fields.
      hidden.show();
      // Populate the input.
      populate.val("Dude, this input got populated!");
    } else {
      // Make sure that the hidden fields are indeed
      // hidden.
      hidden.hide();
      
      // You may also want to clear the value of the 
      // hidden fields here. Just in case somebody 
      // shows the fields, enters data to them and then 
      // unticks the checkbox.
      //
      // This would do the job:
      //
      // $("#hidden_field").val("");
    }
  });
});
</script>

<form action = "http://localhost:5555/configure" method = "POST">

<br>

<div class="col-md-6">
      <div class="ui-steps ui-steps--vertical">
            <div class="ui-step active">
                <div class="step__icon">0</div>
                <div class="step__label">Configure Services and Settings</div>
            </div>
      </div>
</div>

<hr>

For each service you have, enable the service first and then provide the necessary credentials.

<br /> <br />

<div class="row no-gutters">
    <div class="panel panel--indigo panel--loose">
        <span class="text-uppercase">Threat Identification</span>
    </div>
</div>

<br />

<div class="form-group form-group--loose">
      <div>Advanced Malware Protection (AMP)</div>
        <label class="switch switch--small">
            <input type="checkbox" id="amp" onclick="function()" checked>
            <span class="switch__input"></span>
            <span class="switch__label">Enabled</span>
        </label>
</div>

<p id="text" style="display:none">
  
      <div class="col-md-3">
        <div class="form-group">
            <div class="form-group__text">
                <input id= "amp4e_hostname" name="amp4e_hostname" type="text" value="{{config['amp4e']['hostname']}}">
                <label for="amp4e_hostname">AMP Host</label>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <div class="form-group__text">
                <input id="amp4e_client_id" name="amp4e_client_id" type="text" value="{{config['amp4e']['client_id']}}">
                <label for="amp4e_client_id">AMP Client ID</label>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <div class="form-group__text">
                <input id="amp4e_api_key" name="amp4e_api_key" type="text" value="{{config['amp4e']['api_key']}}">
                <label for="amp4e_api_key">AMP API Key</label>
            </div>
        </div>
    </div>
</p>

<div class="form-group form-group--loose">
      <div>Cognitive Intelligence</div>
        <label class="switch switch--small">
            <input type="checkbox" checked>
            <span class="switch__input"></span>
            <span class="switch__label">Enabled</span>
        </label>
</div>

    <div class="col-md-3">
        <div class="form-group">
            <div class="form-group__text">
                <input id="cognitive_service" name="cognitive_service" type="text" value="{{config['cognitive']['service']}}">
                <label for="cognitive_service">Cognitive TAXII Service</label>
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
            <div class="form-group__text">
                <input id="cognitive_user" name="cognitive_user" type="text" value="{{config['cognitive']['user']}}">
                <label for="cognitive_user">Cognitive Username</label>
            </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
            <div class="form-group__text">    
                <input id="cognitive_password" name="cognitive_password" type="password" value="{{config['cognitive']['password']}}">
                <label for="cognitive_password">Cognitive Password</label>
            </div>
        </div>    
      </div>    
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <div class="form-group__text">
                <input id="cognitive_feed" name="cognitive_feed" type="text" value="{{config['cognitive']['feed']}}">
                <label for="cognitive_feed">Cognitive Threat Feed</label>
            </div>
        </div>
    </div>

<br /> <br />

<div class="row no-gutters">
    <div class="panel panel--indigo panel--loose">
        <span class="text-uppercase">Research</span>
    </div>
</div>

<br />

<div class="form-group form-group--loose">
      <div>Investigate</div>
        <label class="switch switch--small">
            <input type="checkbox" checked>
            <span class="switch__input"></span>
            <span class="switch__label">Enabled</span>
        </label>
</div>

    <div class="col-md-3">
        <div class="form-group">
            <div class="form-group__text">
                <input id="investigate_hostname" name="investigate_hostname" type="text" value="{{config['investigate']['hostname']}}">
                <label for="investigate_hostname">Investigate Host</label>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <div class="form-group__text">
                <input id="investigate_key" name="investigate_key" type="text" value="{{config['investigate']['key']}}">
                <label for="investigate_key">Investigate Token</label>
            </div>
        </div>
    </div>

<div class="form-group form-group--loose">
      <div>Threat Grid</div>
        <label class="switch switch--small">
            <input type="checkbox" checked>
            <span class="switch__input"></span>
            <span class="switch__label">Enabled</span>
        </label>
</div>

    <div class="col-md-3">
        <div class="form-group">
            <div class="form-group__text">
                <input id="threatgrid_hostname" name="threatgrid_hostname" type="text" value="{{config['threatgrid']['hostname']}}">
                <label for="threatgrid_hostname">Threat Grid Host</label>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <div class="form-group__text">
                <input id="threatgrid_key" name="threatgrid_key" type="text" value="{{config['threatgrid']['key']}}">
                <label for="threatgrid_key">Threat Grid Key</label>
            </div>
        </div>
    </div>

<br /> <br />

<div class="row no-gutters">
    <div class="panel panel--indigo panel--loose">
        <span class="text-uppercase">Response</span>
    </div>
</div>

<br />
<div class="form-group form-group--loose">
      <div>ISE</div>
        <label class="switch switch--small">
            <input type="checkbox" checked>
            <span class="switch__input"></span>
            <span class="switch__label">Enabled</span>
        </label>
</div>

    <div class="col-md-3">
        <div class="form-group">
            <div class="form-group__text">
                <input id="ise_hostname" name="ise_hostname" type="text" value="{{config['ise']['hostname']}}">
                <label for="ise_hostname">ISE Host</label>
            </div>
        </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
            <div class="form-group__text">
                <input id="ise_user"  name="ise_user" type="text" value="{{config['ise']['user']}}">
                <label for="ise_user">ISE Username</label>
            </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
            <div class="form-group__text">    
                <input id="ise_password" name="ise_password" type="password" value="{{config['ise']['password']}}">
                <label for="ise_password">ISE Password</label>
            </div>
        </div>    
      </div>    
    </div>

<div class="form-group form-group--loose">
      <div>Umbrella</div>
        <label class="switch switch--small">
            <input type="checkbox" checked>
            <span class="switch__input"></span>
            <span class="switch__label">Enabled</span>
        </label>
</div>

    <div class="col-md-3">
        <div class="form-group">
            <div class="form-group__text">
                <input id="umbrella_hostname" name="umbrella_hostname" type="text" value="{{config['umbrella']['hostname']}}">
                <label for="umbrella_hostname">Umbrella Host</label>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <div class="form-group__text">
                <input id="umbrella_key" name="umbrella_key" type="text" value="{{config['umbrella']['key']}}">
                <label for="umbrella_key">Umbrella Key</label>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <div class="form-group__text">
                <input id="umbrella_secret" name="umbrella_secret" type="text" value="{{config['umbrella']['secret']}}">
                <label for="umbrella_secret">Umbrella Secret</label>
            </div>
        </div>
    </div>

<div class="form-group form-group--loose">
      <div>Firepower</div>
        <label class="switch switch--small">
            <input type="checkbox" checked>
            <span class="switch__input"></span>
            <span class="switch__label">Enabled</span>
        </label>
</div>

    <div class="col-md-3">
        <div class="form-group">
            <div class="form-group__text">
                <input id="fmc_hostname" name="fmc_hostname" type="text" value="{{config['fmc']['hostname']}}">
                <label for="fmc_hostname">Firepower Host</label>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <div class="form-group__text">
                <input id="fmc_user" name="fmc_user" type="text" value="{{config['fmc']['user']}}">
                <label for="fmc_user">Firepower Username</label>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <div class="form-group__text">
                <input id="fmc_password" name="fmc_password" type="text" value="{{config['fmc']['password']}}">
                <label for="fmc_password">Firepower Password</label>
            </div>
        </div>
    </div>

<br /> <br />

<div class="row no-gutters">
    <div class="panel panel--indigo panel--loose">
        <span class="text-uppercase">Communications</span>
    </div>
</div>

<br />

    <div class="col-md-3">
        <div class="form-group">
            <div class="form-group__text">
                <input id="webex_teams_token" name="webex_teams_token" type="text" value="{{config['webex_teams']['token']}}">
                <label for="webex_teams_token">Webex Teams Token</label>
            </div>
        </div>
    </div>

<p><input type = "submit" value = "submit" /></p>
</form>

{% endblock %}

<!-- disable footer for this page  -->
{% block footer %}{% endblock %}
