{% extends 'base_layout.html' %}
{% set active_sidebar = "threats" %}

{% block mainpanel %}

<br>

<div class="col-md-6">
      <div class="ui-steps ui-steps--vertical">
            <div class="ui-step active">
                <div class="step__icon">1</div>
                <div class="step__label">Collect Indications of Compromise (AMP, CTA)</div>
            </div>
      </div>
</div>

<div class="col-md-6">
      <div class="ui-steps ui-steps--vertical">
            <div class="ui-step active">
                <div class="step__icon">1</div>
                <div class="step__label">Locate affected host and local incident responder (CMX, RTLS)</div>
            </div>
      </div>
</div>

<hr>

<div class="container">
  <div style="padding-top: 20px" class="responsive-table">
    <div class="responsive-table">
      <table id="threat-datatable" class="table table--bordered">
          <thead>
              <tr>
                  <th>Hostname</th>
                  <th>IP Address</th>
                  <th>MAC Address</th>
                  <th>Detection</th>
              </tr>
          </thead>
          <tbody>
          {% for item in host %}
          <tr>
          <td>{{item['hostname']}}</td>
          <td>{{item['ip']}}</td>
          <td>{{item['mac']}}</td>
          <td><a href=http://localhost:5555/research/malware/{{item['file']}}>{{item['detection']}}</a></td>
          </tr>
          {% endfor %}
          </tbody>
      </table>
    </div>
  </div>
</div>

<div class="container">
  <div style="padding-top: 20px" class="responsive-table">
    <div class="responsive-table">
      <table id="threat-datatable" class="table table--bordered">
          <thead>
              <tr>
                  <th>Logged In User</th>
                  <th>Building</th>
                  <th>Floor</th>
                  <th>Local Incident Responder</th>
              </tr>
          </thead>
          <tbody>
          {% for item in host %}
          <tr>
          <td>{{item['logged_in']}}</td>
          <td>{{item['building']}}</td>
          <td>{{item['floor']}}</td>
          <td>{{item['responder']}} <a href="sip://bwayne@acecloud.webex.com"> - Call on Webex Teams</a></td>
          </tr>
          {% endfor %}
          </tbody>
      </table>
    </div>
  </div>
</div>
<p>
Last Location from CMX:
<p>

<img src="/static/images/location.jpg">


{% endblock %}

<!-- disable footer for this page  -->
{% block footer %}{% endblock %}
