{% extends 'base_layout.html' %}
{% set active_sidebar = "threats" %}

{% block mainpanel %}

<div class="hero hero--blue hero--compressed">
	<div class="container">
		<div class="hero__content">
			<h3>Kill Chain Analysis</h3>
		</div>
	</div>
</div>

<br>

<div class="hero hero--vibblue">
	<span class="text-uppercase">Reconnaissance (Targeted System)</span>
</div>

<div class="hero hero--ltgray">
	<span>Patient Zero: System and User Information</span>
</div>

<br>

<div class="hero hero--vibblue">
	<span class="text-uppercase">Delivery</span>
</div>

<div class="hero hero--ltgray">
	<span>Attacker Infrastructure and Dropper File</span>
</div>

<br>

<div class="hero hero--vibblue">
	<span class="text-uppercase">Exploitation</span>
</div>

<div class="hero hero--ltgray">
	<span>Infection Vector</span>
</div>

<br>

<div class="hero hero--vibblue">
	<span class="text-uppercase">Installation</span>
</div>

<div class="hero hero--ltgray">
	<span>Malware Binary</span>
</div>

<br>

<div class="hero hero--vibblue">
	<span class="text-uppercase">Command & Control</span>
</div>

<div class="hero hero--ltgray">
	<span>Command & Control (C2) Communications</span>
</div>

<br>

<div class="hero hero--vibblue">
	<span class="text-uppercase">Actions on Objective</span>
</div>

<div class="hero hero--ltgray">
	<span>Threat Behavior</span>
</div>

<br>

<div class="hero hero--blue hero--compressed">
	<div class="container">
		<div class="hero__content">
			<h3>Executive Summary</h3>
		</div>
	</div>
</div>


{% endblock %}

<!-- disable footer for this page  -->
{% block footer %}{% endblock %}