{% extends 'base_layout.html' %}
{% set active_sidebar = "threats" %}

{% block mainpanel %}

<br>

<div class="col-md-6">
      <div class="ui-steps ui-steps--vertical">
            <div class="ui-step active">
                <div class="step__icon">3</div>
                <div class="step__label">Find Malware Samples (Threat Grid)</div>
            </div>
            <div class="ui-step active">
                <div class="step__icon">4</div>
                <div class="step__label">Collect and Analyse Suspect Domains (Investigate)</div>
            </div>
      </div>
</div>

<hr>

{% for item in threat %}

<div class="row no-gutters">
      <div class="hero hero--ltgray">
          <span class="text-uppercase">{{item['sha256']}}</span>
      </div>
</div>

<b> Threat Score: </b> {{item['threat_score']}}

<br /> <br />
<b> Recently Associated Filenames: </b>
<br />

{% for item in item['filenames'] %}
{{item}} <br />
{% endfor %}

<br /> <br />
<b> Recently Associated Attributes: </b>
<br />
{% for item in item['magics'] %}
{{item}} <br />
{% endfor %}

<br /> <br />

<b> Threat Information From VirusTotal: </b> <br />

{% if 'Not' in item['virustotal']['link'] %}
{{item['virustotal']['link']}} <br /> <br />
{% else %}
<a href="{{item['virustotal']['link']}}">{{item['virustotal']['link']}}</a> <br /> <br />
{% endif %}

Total Number of Queried AV Vendors: <b>{{item['virustotal']['total']}}</b> <br />
Total Positive Threat Identifications: <b>{{item['virustotal']['positives']}}</b> <br /> <br />

{% for (key,value) in item['virustotal']['detecting'].items() %}
Detection Program: {{key}}, Detected As: {{value}} <br />
{% endfor %}

<br /> <br />

<b> Recently Associated Domains: </b>

<br />

<div class="container">
  <div style="padding-top: 20px">
    <div class="responsive-table table--wrap">
      <table id="threat-datatable" class="table table--bordered" word-wrap:break-word;>
          <thead>
              <tr>
                  <th>Research Domain</th>
                  <th>Add to Umbrella Enforcement</th>
              </tr>
          </thead>
          <tbody>
          {% for item in item['domains'] %}
          <tr>
            <td><a href="http://localhost:5555/research/domains/{{item}}">{{item}}</a></td>
            <td><form action="/block/{{item}}" method="POST"> <button type ="submit" class="btn btn--small">Block With Umbrella</button></form></td>
          </tr>
          {% endfor %}
      </tbody>
      </table>
    </div>
  </div>
</div>

{% endfor %}


{% endblock %}

<!-- disable footer for this page  -->
{% block footer %}{% endblock %}
